
.logo{
    color: rgb(222 98 98)!important;
    font-size: 45px;
    font-weight: 700;
    padding: 0px;
    height: 55px;
    position: relative;
    top: -7px;
    margin-left: 15px;
}
.logo span{
    color: black;
    font-family: 'FontAwesome';
}

.nav-link.active{
    background: #de6262;
    color: white;
}

.nav-link{
    color: #de6262;
}