<div class="offcanvas offcanvas-start" tabindex="-1" id="dashboardMenu" aria-labelledby="dashboardMenu">
    <div class="offcanvas-header">
        <div class="offcanvas-title sidebarTopLogo">
            <img src="../../../../assets/images/logo.jpg" width="30vh" alt="logo" />
            Bussiness
        </div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body float-start">
        <div>
            <div class="text-center">
                <div class="mx-auto sidebarLogo">
                    <img src="../../../../assets/images/logo.jpg" class="img-thumbnail rounded-circle shadow-lg" width="30%"
                        alt="logo" />
                </div>
                <h6>Bussiness to Bussiness</h6>
            </div>
            <hr />
            <div>
                <ul class="dashboardMenu">
                    <li data-bs-dismiss="offcanvas" aria-label="Close" (click)="routeChange('admin/dashboard')">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        Dashboard
                    </li>
                    <li data-bs-dismiss="offcanvas" aria-label="Close" (click)="routeChange('admin/client')">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        Client Review
                    </li>
                    <li data-bs-dismiss="offcanvas" aria-label="Close" (click)="routeChange('admin/product')">
                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                        Product Master
                    </li>
                    <li data-bs-dismiss="offcanvas" aria-label="Close" (click)="routeChange('admin/employee')">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Employee's
                    </li>
                    <li data-bs-dismiss="offcanvas" aria-label="Close" (click)="routeChange('admin/setting')">
                        <i class="fa fa-gear" aria-hidden="true"></i>
                        Setting
                    </li>
                </ul>
            </div>
        </div>
    </div>