<div class="row">
    <div class="mx-auto col-md-8 card m-5">
        <img width="100%"
            src="../../../../assets/images/dashboard-img.jpg" />
    </div>
    <div class="mx-auto col-md-4 card m-5">
        <div class="col-md-12">
            <img width="100%"
                src="../../../../assets/images/dashboard-img.jpg" />
        </div>
        <div class="col-md-12">
            <img width="100%"
                src="../../../../assets/images/dashboard-img.jpg" />
        </div>
    </div>
</div>