<div class="container mt-5">
    <div class="row">
      <div class="col-md-5">
        <h3>Employee Dashboard</h3>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card rouded shadow">
          <div class="row p-3">
            <div class="col-12 py-2">
              <i class="fa-solid fa-list-check fs-2"></i>
              <h5 class="pt-4">Total Task</h5>
              <span>15</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card rouded shadow">
          <div class="row p-3">
            <div class="col-12 py-2">
              <i class="fa-solid fa-list-check fs-2"></i>
              <h5 class="pt-4">Completed Task</h5>
              <span>10</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card rouded shadow">
          <div class="row p-3">
            <div class="col-12 py-2">
              <i class="fa-solid fa-list-check fs-2"></i>
              <h5 class="pt-4">Pending Task</h5>
              <span>5</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-6">
        <img src="../../../../assets/images/chart.png" class="img-fluid w-100" alt="">
      </div>
    </div> -->
  </div>
  
  