<div class="container">
    <!-- <div class="row mb-4 mt-4 bg-light">
        <h2 class="col-md-12 my-2 fs-5 ">Client Review</h2>
    </div> -->
    <div class="row mb-4 mt-4">
        <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="bg-white ki_radius ki_shadow p-4 mb-3 settings_card">
                <img src="../../../../assets/images/change_password.svg" alt="">
                <h6>Change Password</h6>
            </div>
        </div>
        <div class="col-xl-4  col-lg-4 col-md-6">
            <div class="bg-white ki_radius ki_shadow p-4 mb-3 settings_card">
                <img src="../../../../assets/images/faq.svg" alt="">
                <h6>FAQ</h6>
            </div>
        </div>
        <div class="col-xl-4  col-lg-4 col-md-6">
            <div class="bg-white ki_radius ki_shadow p-4 mb-3 settings_card">
                <img src="../../../../assets/images/language.svg" alt="">
                <h6>Language</h6>
            </div>
        </div>
        <div class="col-xl-4  col-lg-4 col-md-6">
            <div class="bg-white ki_radius ki_shadow p-4 mb-3 settings_card">
                <img src="../../../../assets/images/privacy+policy.svg" alt="">
                <h6>Privacy Policy</h6>
            </div>
        </div>
        <div class="col-xl-4  col-lg-4 col-md-6">
            <div class="bg-white ki_radius ki_shadow p-4 settings_card">
                <img src="../../../../assets/images/help.svg" alt="">
                <h6>Help</h6>
            </div>
        </div>


    </div>
</div>