<div class="container">
    <div class="row mb-4 mt-4 bg-light">
        <h2 class="col-md-12 my-2 fs-5 ">Client Review</h2>
    </div>
    <div class="container mt-5 responsiveTable">
        <table class="table table-striped border table-hover  text-center align-items-center">
            <thead>
                <tr class="p-3">
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Review</th>
                    <th>Rating</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="p-3">
                <tr >
                    <td>1</td>
                    <td>John</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid illo atque deleniti quasi culpa, non, fugit minima perspiciatis inventore minus beatae possimus. Ipsa eligendi pariatur praesentium nostrum et eos.</td>
                    <td><i class="fa fa-star text-warning"></i> </td>
                    <td>Active</td>

                    <td>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr >
                    <td>2</td>
                    <td>Shivam</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid illo atque deleniti quasi culpa.</td>
                    <td><i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> </td>
                    <td>Inactive</td>

                    <td>
                       
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                       
                    </td>
                </tr>
                <tr >
                    <td>3</td>
                    <td>Peter</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid illo atque deleniti quasi culpa, non, fugit .</td>
                    <td><i class="fa fa-star text-warning"></i> </td>
                    <td>Active</td>

                    <td>
                        <!-- <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
                        </button> -->
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                        <!-- <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-sign-in text-success" aria-hidden="true"></i>
                        </button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>