<div class="container">
    <div class="row mb-4 mt-4 bg-light">
        <h2 class="col-md-12 my-2 fs-5 ">Client Review</h2>
    </div>
    <div class="container mt-5 responsiveTable">
        <table datatable [dtOptions]="dtoptions" class="table table-striped border table-hover  text-center align-items-center">
            <thead>
                <tr class="p-3">
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Review</th>
                    <th>Rating</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="p-3">
                <tr>
                    <td>1</td>
                    <td>Ashutosh</td>
                    <td>I'm extremely satisfied with my GadgetMaster Smartwatch! The sleek design and feature-rich functionality make it a standout in the smartwatch market. The heart rate monitor and sleep tracking are accurate, and I love how I can sync it with my smartphone for notifications. Definitely recommend!</td>
                    <td><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa-solid fa-star-half text-warning"></i> </td>
                    <td>Active</td>

                    <td>
                        <button type="button" class="btn text-success p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle" (click)="invoice()">
                            <i class="fa-regular fa-file-lines" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Shivam</td>
                    <td>EcoLife Organic Shampoo has transformed my hair! The natural ingredients and gentle formula have improved the health of my hair and scalp significantly. No more frizz or dryness! Plus, it's eco-friendly, which is a huge bonus for me. This is my go-to shampoo now!</td>
                    <td><i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i><i class="fa-solid fa-star-half text-warning"></i> </td>
                    <td>Inactive</td>

                    <td>
                        <button type="button" class="btn text-success p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle" (click)="invoice()">
                            <i class="fa-regular fa-file-lines" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                       
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Peter</td>
                    <td>FitZone is the best fitness app I've ever used! The workout plans and exercises are challenging yet achievable. The progress tracking feature keeps me motivated, and the video tutorials ensure I'm doing the exercises correctly. I've seen remarkable improvements in my fitness level!</td>
                    <td><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa-regular fa-star-half text-warning"></i></td>
                    <td>Active</td>

                    <td>
                        <button type="button" class="btn text-success p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle" (click)="invoice()">
                            <i class="fa-regular fa-file-lines" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>