
@media screen and (max-width:600px) {

    .sidebarTopLogo {
        border: none !important;
    }
    .logoHelpingText{
        display: none;
    }
    .topBarLogoHelpingText{
        display: none;
    }
    
}