
.admin-profile-btn{
    float: right !important;
 }
@media screen and (max-width:600px) {
    .navProfilebtn{
        position: absolute;
        top:3%;
        right:1%;
    }
    .sidebarTopLogo {
        border: none !important;
    }
    .logoHelpingText{
        display: none;
    }
    .topBarLogoHelpingText{
        display: none;
    }
    .adminNameWithImage{
        display: none !important ;
    }    
}

@media (max-width:380px){
    .adminProfile{
        position: absolute;
        top:1%;
        right:1%;
    }
}