<div class="container">
    <div class="row mb-4 mt-4 bg-light">
        <h2 class="col-md-12 my-2 fs-5 ">Employee</h2>
    </div>

    <div class="row">
        <div class="col-md-2">
            <input type="text" placeholder="Search Employee" class="p-2 form-control" />
        </div>
        <div class="col-md-10 text-end ">
            <button class=" rounded-pill text-white p-2 border-0" style="background-color: #ed6262;" (click)="addemp()">
                Add Employee
            </button>
        </div>
    </div>

    <div class="container mt-5 responsiveTable">
        <table class="table table-striped border table-hover  text-center align-items-center">
            <thead>
                <tr class="p-3">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="p-3">
                <tr >
                    <td>1</td>
                    <td>John</td>
                    <td>john@gmail.com</td>
                    <td>9874563210 </td>
                    <td>Active</td>

                    <td>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-sign-in text-success" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>john@gmail.com</td>
                    <td>9874563210 </td>
                    <td>Active</td>

                    <td>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-sign-in text-success" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>john@gmail.com</td>
                    <td>9874563210 </td>
                    <td>Active</td>

                    <td>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-sign-in text-success" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John</td>
                    <td>john@gmail.com</td>
                    <td>9874563210 </td>
                    <td>Active</td>

                    <td>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-pencil-square-o text-warning" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn text-danger p-0 m-2" data-bs-toggle="modal"
                        data-bs-target="#exampleModalToggle">
                            <i class="fa fa-sign-in text-success" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>